importFrom("graphics", "lines", "par", "plot", "points", "title")
importFrom("methods", "hasArg")
importFrom("stats", "complete.cases", "runif")
importFrom("utils", "lsf.str")
export(cec)
export(init.centers)
export(mouseset)
export(ball)
S3method(print, cec)
S3method(plot, cec)
useDynLib(CEC, cec_r)
useDynLib(CEC, cec_split_r)
useDynLib(CEC, cec_init_centers_r)
