export(cec)
export(initcenters)
export(mouseset)
export(ball)
export(cec.plot.cost.function)
export(run.cec.tests)
S3method(print, cec)
S3method(plot, cec)
useDynLib(CEC, cec_r)
useDynLib(CEC, init_kmeanspp_r)
useDynLib(CEC, init_random_r)
